@import url("../../../App.css");

.section-home-content{
    width: 100%;
    background-image: url("../img/mohammad-rahmani-gA396xahf-Q-unsplash.jpg");
    position: relative;
    position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:1;
}
.section-home-content::after{
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:  rgba(20, 20, 20, 0.5);
}
.content-home-page{
    position: relative;
    display: block;
    z-index: 2;
}
.text-content-home{
    padding: 50% 0;
    display: block;
    line-height: 2.4em;
    text-align: center;
}
.text-content-home .title-home .title{
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 700;
}
.title .name{
    color: var(--background-main);
    font-weight: 600;
}
.text-content-home .subtitle-home .subtitle{
    font-size: 1em;
    font-weight: 400;
    color: rgb(247, 247, 247);
}
.text-content-home .btn-ct{
    padding-top: 0.5em;
}
.text-content-home .btn-ct .btn{
    display: inline-block;
    padding: 2px 45px;
    border-radius: 25px;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    background: var(--background-main);
}
@media  (min-width:1000px){
    .text-content-home{
        padding: 20% 0;
        display: block;
        line-height: 2.4em;
        text-align: center;
    }
}
@media  (min-width:1200px){
    .text-content-home{
        padding: 20% 0;
        display: block;
        line-height: 2.4em;
        text-align: center;
    }
}