@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
    --background-body: rgb(255, 255, 255);
    --background-header: rgb(255,255,255);
    --color-text-light: rgb(255,255,255);
    --background-main: rgb(83, 20, 255);
    --background-dark: rgb(19, 18, 18);
    --color--text-light: rgb(36, 36, 36);
    --font-app:'Poppins', sans-serif;;
}
body{
    background-color: var(--background-body);
    font-family: var(--font-app);
    color: var(--color--text-light);
}
.container{
  padding: 0em 1em;
  margin: 0 auto;
}
a{
  text-decoration: none;
  font-family: var(--font-app);
}
img,video{
  width: 100%;
}
input,button{
  border: none;
  outline: none;
  font-family: var(--font-app);
}
